img{
    width: 300px;
}


p{
    margin: 20px;
}

form{
    padding: 100px;
}
.card{
    margin-bottom: 20px;
}

.text-center{
    margin-top: 50px;
}

footer {
    position: relative;
    width: auto;
    border-radius: 0px 0px 5px 5px;
    bottom: 0;
    background-image: linear-gradient(to right, rgb(61, 191, 196), rgb(41, 90, 196));
    padding: 30px;
    color: white;
    text-align: center;
}